# This file should be copied to /etc/udev/rules.d/ on a Debian/Ubuntu compatible/derived Linux distribution.
# Set latency timer of FTDI serial-over-usb chips to 2 msec
ACTION=="add", SUBSYSTEM=="usb-serial", DRIVER=="ftdi_sio", ATTR{latency_timer}="2"
